@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Formatação do cabeçalho */

.header {
    background-color: rgb(121, 12, 12);
    display: flex;
    justify-content: space-between;
    position: fixed;
    gap: 50px;
    top:0;
    left: 0;
    width: 100%;
    box-shadow: 0px 3px 3px 1px rgb(90, 90, 90);
    z-index: 1;
}
.header img {
    max-height: 80px;
}
.logo{
    padding: 8px 0 2px 50px;
}
.menu-direita {
   display: flex; 
   align-items: center;
   gap: 30px;
   padding-right: 50px;
   cursor: pointer;
}
.menu-header {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
}
.menu-header p {
    color: white;
}
.menu-header p:hover {
    color: yellow;
}

/* Formatação do corpo */

.container-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 3fr));
    padding: 20px;
    background-color: rgb(231, 231, 231);
    margin-top: 90px;
    gap: 20px;
}
.card {
    max-height: 340px;
    width: auto;
    overflow: hidden;
    background-color: white;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    box-shadow: 0px 3px 3px 1px rgb(173, 172, 172);
}
.card img {
    height: 250px;
    -webkit-transition: -webkit-transform .5s ease;
   transition: transform .5s ease;
}
.card IMG:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.card p {
    font-size: 15px;
}
button {
    background-color: rgb(121, 12, 12);
    border: 1px solid white;
    color: white; 
    padding: 7px 20px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}
button:hover {
     background-color: rgb(255, 0, 0);
}
.nome-receita p {
    font-size: 18px;
}

/* Formatação do rodapé */

.footer {
    background-color: rgb(121, 12, 12);
    color: white;
    padding: 8px 0; 
    font-size: 12px;
    text-align:center;
}